<web-app>
    <filter>
        <filter-name>WebResourceOptimizer</filter-name>
        <filter-class>
            ro.isdc.wro.http.WroFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WebResourceOptimizer</filter-name>
        <url-pattern>/wro/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>movies</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>movies</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>